<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Todo List App</title>   
</head>
<body>
        <div class="container"> 
        <div class="image-container">
            <img src="{{ url_for('static', filename='styles/profile.jpg') }}" alt="Person smiling at desk with a notebook and pen, workspace includes a laptop and coffee mug, bright and welcoming atmosphere" class="todo-image">
    </div>
        <h1>My Todo App</h1> 
       
        <form method="post" action="/add">
    <input type="text" name="name" placeholder="Add new task" class="input-text" required>
    <button type="submit" id="add-task-button">Add</button>
</form>
        <h2>Todo-Tasks</h2>
     {% for todo in todos %}
    <ul>
        <li>
            <form method="post" action="/update/{{ todo['id'] }}" style="display:inline;">
            <input type="text" name="name" value="{{ todo['name'] }}" required>
            <button type="submit">Edit</button>
            </form>
            <form method="post" action="/delete/{{ todo['id'] }}" style="display:inline;">
            <button type="submit">Delete</button>
            </form>
        </li>
    </ul> 
     {% endfor %} 
 </div>
    
</body>
</html>