<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Todo List App</title>   
</head>
<body>
    <h1>My Todo App</h1> 
        <div class="container">
        <form method="post">
        <input type="text" name="name" placeholder="Add new task" required>
        <button type="submit" id="add-task-button">Add</button>
        </form>
        <h2>Todo-Tasks</h2>
     {% for todo in todos %}
    <ul>
        <li>
            <form method="post" action="/update/{{ todo['id'] }}" style="display:inline;">
            <input type="text" name="name" value="{{ todo['name'] }}" required>
            <button type="submit">Edit</button>
            </form>
            <form method="post" action="/delete/{{ todo['id'] }}" style="display:inline;">
            <button type="submit">Delete</button>
            </form>
        </li>
    </ul> 
     {% endfor %} 
 </div>
    
</body>
</html>